<div class="py-4 overflow-hidden">
    <div class="relative people-table flex flex-col items-center">
        <div *ngIf="isLoading" class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-75 z-10">
            <svg class="animate-spin h-5 w-5 text-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
            </svg>
        </div>
        <div class="flex flex-wrap items-center w-full table-header pb-2 gap-x-2">
            <app-filter class="flex-grow flex-shrink" (filter)="onFilterChange($event)"></app-filter>
            <div class="flex-grow-0 flex-shrink">Average Person Height: {{averageHeight}}</div>
        </div>
        <div class="bg-white border border-gray-300 rounded-lg shadow-md border-solid border-2 border-sky-500 w-full min-h-[496px] overflow-x-auto">
            <table class="w-full">
                <thead>
                    <tr class="bg-gray-200 text-gray-700 uppercase text-sm leading-normal rounded-lg">
                        <th class="py-3 px-6 text-left">Name</th>
                        <th class="py-3 px-6 text-left">Birth Year</th>
                        <th class="py-3 px-6 text-left">Homeworld</th>
                        <th class="py-3 px-6 text-left">Terrain</th>
                    </tr>
                </thead>
                <tbody class="text-gray-600 text-sm font-light overflow-auto">
                    <tr *ngFor="let person of people" class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6">{{person.name}}</td>
                        <td class="py-3 px-6">{{ person.birth_year }}</td>
                        <td class="py-3 px-6">{{ person.homeworld }}</td>
                        <td class="py-3 px-6">{{ person.terrain }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="totalItems > 0" class="flex items-center space-x-2 mt-4">
            <button 
                (click)="onPageChange(page - 1)" 
                [disabled]="page === 1" 
                class="flex items-center p-2 rounded-full" 
                [ngClass]="{'bg-gray-300 text-gray-500 cursor-not-allowed': page === 1, 'bg-blue-500 text-white': page !== 1}">
                <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                </svg>
            </button>
            <span>Page {{ page }} of {{ (totalItems / 10) | ceil }}</span>
            <button 
                (click)="onPageChange(page + 1)" 
                [disabled]="page * 10 >= totalItems" 
                class="flex items-center p-2 rounded-full" 
                [ngClass]="{'bg-gray-300 text-gray-500 cursor-not-allowed': page * 10 >= totalItems, 'bg-blue-500 text-white': page * 10 < totalItems}">
                <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </button>
        </div>
        
    </div>
</div>
